body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Warna latar belakang */
    color: black; /* Mengubah warna teks menjadi hitam */
}
h1 {
    color: blue; /* Mengubah warna judul menjadi biru */
}
p {
    color: black; /* Mengubah warna paragraf menjadi hitam */
    font-size: 16px;
    line-height: 1.5;
}
.custom-table th {
    background-color: blue; /* Mengubah warna latar belakang header tabel menjadi biru */
    color: white; /* Mengubah warna teks header tabel menjadi putih */
}
.custom-table td {
    color: black; /* Mengubah warna teks sel tabel menjadi hitam */
}